.row.stf-info.selectable(ng-controller='ManualTestAssistCtrl')
    
  .widget-container.fluid-height
    .heading
      span
        stacked-icon(icon='fa-clock-o')
        span(translate) New Session
        button.btn.pull-right.btn-sm.btn-primary-outline
          i.fa.fa-history 
          span History
        button.btn.pull-right.btn-sm.btn-primary-outline(ng-click='toggleStartStop()')
          i.fa(ng-class="{'fa-play': !isRunning, 'fa-stop': isRunning}")
          span {{isRunning ? 'Stop' : 'Start'}}
        button.btn.pull-right.btn-sm.btn-secondary-outline(ng-if="isRunning" ng-click="clearCustomization_1()")
          i.fa.fa-repeat
          span Clear
        //- button.btn.pull-right.btn-primary.btn-sm(ng-if="isRunning")
        //-   i.fa.fa-camera
        //-   span Capture Screenshot
        
          
    .padded
      .row 
        .col-sm-6
          .form-group
            label Session Name 
            input.form-control(type="text" ng-model='session.testCaseID')
          .form-group
            label Session Description 
            textarea.form-control(ng-model='session.description')
          //- .form-group
          //-   label Pair more device
          //-   input.form-control(type="text")
            //- select.form-control(ng-model='selectedDevice')
            //-   option(value='device1')Moto G2 
            //-   option(value='device2')Moto G3 
          .form-group
            label Pair More Devices
            select.form-control(ng-model='selectedDevice')
              option(value='device1') EA211001
              option(value='device2') moto g stylus 5G (2022)
             
          
          .gray-box(ng-if="isRunning")
            ul.session-checkbox  
              li
                div
                  input(type="checkbox")
                  span Upload original logs to FTP
              li 
                div
                  input(type="checkbox")
                  span Process and upload logs to DB
              li
                div
                  input(type="checkbox")
                  span Discard Logs

        .col-sm-6
          ul.session-checkbox  
            li
              div
                input(type="checkbox", ng-model="checkboxes.logcatLogs", ng-change="updateCustomizeButton('logcatLogs')",
                 ng-disabled="isViewing")
                span Logcat Logs
              
              button.btn.btn-primary-outline.btn-sm(ng-if= 'showCustomizeButton.logcatLogs' ng-click='openLogscatPanel("logcatLogs")')
                span {{isViewing? 'View':'Customize'}}
            li 
              div
                input(type="checkbox", ng-model="checkboxes.bugreport", ng-change="updateCustomizeButton('bugreport')",
                 ng-disabled="isViewing")
                span Bugreport
              button.btn.btn-primary-outline.btn-sm(ng-if= 'showCustomizeButton.bugreport' ng-click='openLogscatPanel("bugreport")')
                span {{isViewing? 'View':'Customize'}}
              
            li
              div
                input(type="checkbox", ng-model="checkboxes.radioLogs", ng-change="updateCustomizeButton('radioLogs')"
                 ,ng-disabled='isViewing')
                span Radio Logs(QXDM)
              button.btn.btn-primary-outline.btn-sm(ng-if= 'showCustomizeButton.radioLogs' ng-click='openLogscatPanel("radioLogs")')
                span {{isViewing? 'View':'Customize'}}
              //- button.btn.btn-primary-outline.btn-sm(ng-click='openLogscatPanel()') Customize
            li 
              div
                input(type="checkbox", ng-model="checkboxes.video", ng-change="updateCustomizeButton('video')",
                 ng-disabled="isViewing")
                span Video
              button.btn.btn-primary-outline.btn-sm(ng-if= 'showCustomizeButton.video' ng-click='openLogscatPanel("video")')
                span {{isViewing? 'View':'Customize'}}
            li 
              div
                input(type="checkbox", ng-model="checkboxes.audio", ng-change="updateCustomizeButton('audio')",
                 ng-disabled="isViewing")
                span Audio
              //if showCustomizeButton
              button.btn.btn-primary-outline.btn-sm(ng-if= 'showCustomizeButton.audio' ng-click='openLogscatPanel("audio")')
                span {{isViewing? 'View':'Customize'}}
      <hr>
      .d-flex.justify-space-between(ng-if="isRunning")
        button.btn.btn-primary.btn-sm
          i.fa.fa-camera 
          span Take a Screenshot
        div.d-flex.align-items-center(ng-if="isRunning")
          strong Total Screenshot 
          span.screenshot-count 7
        //- <img alt="Google" height="92" src="/images/branding/googlelogo/1x/googlelogo_white_background_color_272x92dp.png" style="padding:28px 0 14px" width="272" id="hplogo">

     // .screenshot-container(ng-if="isRunning")
        div.screenbox
          p.m-0.text-right
            i.fa.fa-clock-o
            span 3:40 PM 
          img(src='/static/logo/exports/screenshot.jpeg', title='Total Device').imgbox
        div.screenbox
          p.m-0.text-right
            i.fa.fa-clock-o
            span 3:40 PM 
          img(src='/static/logo/exports/screenshot.jpeg', title='Total Device').imgbox
        div.screenbox
          p.m-0.text-right
            i.fa.fa-clock-o
            span 3:40 PM 
          img(src='/static/logo/exports/screenshot.jpeg', title='Total Device').imgbox
        div.screenbox
          p.m-0.text-right
            i.fa.fa-clock-o
            span 3:40 PM 
          img(src='/static/logo/exports/screenshot.jpeg', title='Total Device').imgbox
      
    //- .widget-content.padded.pt-0(ng-if="allPending")
    //- i.fa.fa-spinner.fa-spin.fa-fw
    

   div(ng-if='showLogscatPanel' , is-open = 'showLogscatPanel')
    .custom-sidepanel
      .sidepanel-header
        h5.d-flex.justify-space-between 
          span
            i.fa.fa-file
            |{{customLogName}}
          button.btn-sm.btn-link(ng-click='closeLogscatPanel()')
            i.fa.fa-times
      .padded
        .row 
        div(ng-if="logtype === 'radioLogs'")
          .form-group
            label Mask File 
            //- select.form-control(ng-model='maskFile' ,ng-disabled='isViewing')
            //-   option(value='mask1') Sandstorm.dmc
            //-   option(value='mask2') Mask 2
            select.form-control(ng-model="session.config.selectedMaskFile"
              ng-init="selectedMaskFile = selectedMaskFile || maskFiles[0]",
              ng-options="file as file.maskFile + (file.configFile ? ' (' + file.configFile + ' packet config)' : '') for file in maskFiles"
              ng-change="selectMaskFile()" ng-disabled='isViewing')
          .form-group 
            label Packets 
            input.form-control(type="text" ng-model="session.config.packets" ,ng-disabled='isViewing')
        
        div(ng-if="logtype === 'video'")
          .form-group
            label frameRate 
            select.form-control(ng-model='session.config.frameRate' ng-disabled='isViewing' ng-init="session.config.frameRate = session.config.frameRate||'15'" )
              option(value='15') 15
              option(value='30') 30
              option(value='35') 35
        
        div(ng-if="logtype === 'bugreport'")
          .row
            .col-sm-12
              .form-group
                label BugReport Actions
                .radio
                  input(type="radio", name="bugreportAction", ng-model="session.config bugreportAction", value="continue", ng-change="updateBugreportAction()",ng-disabled='isViewing')
                  span Continue with older bugreport
                .radio
                  input(type="radio", name="bugreportAction", ng-model="session.config.bugreportAction", value="save", ng-change="updateBugreportAction()",ng-disabled='isViewing')
                  span Save older bugreport before session start
                .radio
                  input(type="radio", name="bugrepoiortAction", ng-model="session.config.bugreportAction", value="clear", ng-change="updateBugreportAction()",ng-disabled='isViewing')
                  span Clear older bugreport before session start
          
        
          
          //- .col-sm-6
          //-   .form-group
          //-     label Logcat Level 
          //-     input.form-control(type="text")
          //-   .form-group
          //-     label PID
          //-     input.form-control(type="text")
          //- .col-sm-6
          //-   .form-group
          //-     label Time 
          //-     input.form-control(type="text")
          //-   .form-group
          //-     label TID
          //-     input.form-control(type="text")
          //- .col-sm-12
          //-   .form-group
          //-     label Tag 
          //-     input.form-control(type="text")
          //-   .form-group
          //-     label Text 
          //-     input.form-control(type="text")
              
        
          
            
        .text-center 
          button.btn.btn-sm.btn-secondary-outline(ng-if="!isViewing" ng-click="clearCustomization()")
            i.fa.fa-repeat
            span clear
          button.btn.btn-primary.btn-sm(ng-if="!isViewing" ng-click="saveCustomization()")
            i.fa.fa-save 
            span Save
              
